mat-form-field {
  width: 250px;
  padding-bottom: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  margin-left: 8px;
}

.mat-mdc-table .mat-mdc-row:hover {
  cursor: pointer;
  background-color: #ffd74022;
}

.extraColumn {
  width: 100px;
  text-align: right;
}

mat-header-cell {
  text-align: center;
}
