mat-form-field {
  width: 250px;
  padding-bottom: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  margin-left: 8px;
}

mat-header-cell {
  text-align: center;
}

.disabled-field {
  color: rgba(0, 0, 0, 0.6);
}
